@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Montserrat:wght@100&family=Poppins:wght@300&family=Roboto:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Manrope', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    background-color: hsl(234, 29%, 20%);
    height: 100vh;
    overflow: hidden;
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    height: 100%;

    .container{
        transition: opacity 1s, display 1s;

    }
    
    .d-flex{
        display: flex;
    }
    .card{
        background-color: hsl(0, 0%, 100%);
        // width: 50%;
        border-radius: 20px;
        padding: 2%;

    }
    .form-container{
        padding:  2% 0;
    }
    .form-details-container{
        padding: 10% 2%;
    }

    form{
        display: flex;
        flex-direction: column;

        .label-error-container{
            display: flex;
            margin-bottom: 2%;
            .email-label{
                width: 50%;
            }
            .error-container{
                width: 50%;
                .error{
                    float: right;
                    color: hsl(4, 100%, 67%);
                    font-weight: bold;
                }
            }
        }
        label{
            font-weight: bold;
            margin: 2% 0;
        }
        input{
            padding: 5%;
            border-radius: 5px;
            border: 1px solid #D9D9D9;
        }
        button{
            margin: 20px 0;
            padding: 4%;
            border-radius: 5px;
             background-color: hsl(235, 18%, 26%);
            font-weight: bold;
            color: white;
            cursor: pointer;
            &:hover{
                background-color: hsl(4, 100%, 67%);
            }
        }
    }

    h1{
        margin: 20px 0;
        font-size: 55px;
    }
    li{
        list-style: none;
        margin: 2% 0;
        img{
            margin-right: 2%;
        }
        img{
            width: 20px;
        }
    }
}
}

.response_message{
    display: none;
    position: absolute;
    top: 35%;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    text-align: left;
    left: 40%;
    max-width: 376px;
    // transition: opacity 0.5s; 
    transition: opacity 1s, display 1s;
    button{
        margin: 20px 0;
        padding: 4%;
        border-radius: 5px;
        background-color: hsl(235, 18%, 26%);
        font-weight: bold;
        color: white;
        width: 100%;
        cursor: pointer;
        &:hover{
            background-color: hsl(4, 100%, 67%);
        }
    }
}



.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: translate(-50%, -50%);
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.visible {
    display: block;
    opacity: 1;
}

.hidden {
    display: none;
    opacity: 0;
}
@media screen and (max-width:768px) {
    body{
        background-color: white;

        .main{
            justify-content: start;
            align-items: flex-start;

            .d-flex{
                flex-direction: column-reverse;

                .image-container{
                    picture{
                        img{
                            width: 100%;
                        }
                    }
                }
            }

        }


        .response_message{
            top: 10%;
            padding: 2%;
            border-radius: 10px;
            text-align: left;
            left: 0%;
            transition: opacity 1s, display 1s;
            height: 90vh;

            h1{
                font-size: 38px;
                margin: 17px 0;
            }
            p{
                font-size: larger;
            }
            button{
                position: relative;
                top: 20%;
            }
        }
    }
}

