body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E8E8E8	;
    font-family: "Poppins";
  }
  #form{
    display: flex;
    justify-content: space-around;
  }
  .todo-items{
    display: flex;
    gap: 40px;
    padding-top: 50px;
    justify-content: center;
    
  }
  
  .btn {
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    background-color: #0197f6;
  }
  
  .update{
    background-color: #0197f6;
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
  }
  .completed{
    background-color: #ddd;
  }
  .todo-card {
    background-color:white;
    width: 60%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px; 
  
  }
  .delete{
    background-color: rgb(220 38 38);
  }
  .d-flex{
    display: flex;
width: 76%;
  }

  .title_description_container{
    display: flex;
    width:50%;
  }
  .title_description_container > div{
    width: 50%;
  }
  @media screen and (max-width:412px) {
  .todo-card {
    width: 100%;
    margin: 10px;
  }
  }
  
  @media screen and (max-width:360px) {
    .todo-card {
    width: 90%;
    margin: 10px;
  }
  
  #form{
   
    display: flex;
    justify-content: space-evenly;
  }
  #title{
    width: 90px;
  }
  #description{
    width: 90px;
  }
  }
  @media screen and (max-width:393px) {
    .todo-card {
    width: 90%;
    margin: 10px;
  }
  
  #form{
   
    display: flex;
    justify-content: space-evenly;
  }
  #title{
    width: 90px;
  }
  #description{
    width: 90px;
  }
  
  }
  @media screen and (max-width:414px) {
    .todo-card {
    width: 100%;
    /* margin: 10px; */
  }
  
  #form{
    display: flex;
    justify-content: space-evenly;
  }
  #title{
    width: 90px;
    border: 1px solid black;
  
  }
  #description{
    width: 90px;
    border: 1px solid black;
  
  }
  }