.d-flex{
    display: flex;
}
.product-image-container {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-details-container {
    flex: 2;
    padding: 20px;
    div{
        margin: 2% 0;
    }
}

.product_title_container h1 {
    font-size: 24px;
}

.product_title_container hr,
.product_ratings_container hr,
.product_price_container hr,
.product_description_container hr {
    margin: 15px 0;
    border: 0.5px solid #ddd;
}

.product_price_container,
.product_ratings_container {
    display: flex;
    justify-content: space-between;
}

.prev_price {
    text-decoration: line-through;
    color: #999;
}

// .current_price {
//     font-size: 24px;
//     font-weight: bold;
//     color: #007bff;
// }

.product_description_container p {
    font-size: 16px;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
}

select {
    width: 100%;
    padding: 5px;
}

.add_to_cart_btn_container {
    text-align: center;
}

.add_to_cart {
    background-color: #4BBF73;
    color: #fff;
    border: none;
    // border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    width: 100%;
}



.reviews_container h1 {
    font-size: 20px;
    margin-top: 20px;
}

.reviews{
    
        color: #10516c;
        background-color: #d2ebf5;
        border-color: #c0e3f2;
        position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;

}

hr{
    border: 1px solid rgba(0,0,0,.125);
}