*{
    padding: 0;
    margin: 0;
}
body{
  margin:0;
  font-family:Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;
  font-size:.875rem;
  font-weight:400;
  line-height:1.5;
  color:#55595c;
  text-align:left;
  background-color:#fff
}

hr {
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
  height:0;
  overflow:visible
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  margin-top:0;
  margin-bottom:.5rem
 }
 h6{
  font-size: .75rem;
  text-transform: uppercase;
  margin-top: 1%;;
 }
 p {
  margin-top:0;
  margin-bottom:1rem
 }

.container{
    margin: 0 20%;
}

.navbar {
  background-color: #D21812;
  color: #ffffff;
  padding: 10px 20px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
}

/* Logo styles */
.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-center {
  text-align: center;
  width: 47%;
}

.form-control {
  padding: 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: right;
  line-height: 1;

  &:hover {
    color: #17a2b8;
  }
}


.basket-icon-wrapper::before {
  content: attr(data-count);
  position: absolute;
  top: 11px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 26%;
}

.icon-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.categories_container{
display: flex;
flex-wrap: wrap;
.category_card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    margin: 10px; 
  
    &:hover {
      transform: scale(1.02);
    }
  
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      text-align: center;
    }
  

    img {
      width: 100%;
      height: 246px;
      object-fit: cover;
    }
  
    > div {
      padding: 10px;
  
      .category_title_container {
        text-align: center;
        margin-top: 10px;
  
        b {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }
    }
  }
}

  

form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 7px;
}

.form-control {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  flex: 1;

  padding: 7px 11px;
font-size: 16px;
line-height: 1.5;
border-radius: 8px;
}

.form-control-button {
  background-color: white;
  color: #000;
  padding: 13px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}



footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer_container {
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;

  .more_details_container{
    width: 100%;
    display: flex;
}

}

.about_container {
  flex: 1;
  margin: 0 20px;
}

.about_container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.about_container ul {
  list-style: none;
  padding: 0;
}

.about_container li {
  margin-bottom: 5px;
}

.about_container a {
  text-decoration: none;
  color: #fff;
}

.copyright_container {
  text-align: center;
  margin-top: 20px;
}

.year_holder {
  color: #ff5733; 

.phone_number_holder {
  margin-top: 10px;
}

.phone_number_holder div {
  margin: 5px 0;
}

.more_details_container{
  display: flex;
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 276px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image img {
  width: 100%;
  height: 263px;
}

.discount-badge {
  background-color: #ff5733;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}



.product-title a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.product-price-container {
  display: flex;
  align-items: center;
}

.prev-price {
  text-decoration: line-through;
  color: #777;
  margin-right: 10px;
}

.current-price {
  color: #d21812;
  font-size: 18px;
  font-weight: bold;
}



.add_to_cart-btn-container {
  margin-top: 15px;
}

.add_to_cart {
  background-color: #4BBF73;
  color: #fff;
  border: none;
  // border-radius: 5px;
  padding: .75rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  width: 100%;
}

.add_to_cart:hover {
  background-color: #0056b3;
}
.products-f{
  display: flex;
  gap: 10px;
}

.company_commitments_container {
  display: flex;
  flex-wrap: wrap;
}

.commitment {
  padding: 10px;

}
}

.navbar-logo{
  a{
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width:768px) {
  .navbar-center,.navbar-menu{
    display: none;
  }
  .discount-badge{
    display: none;
  }
  nav{
    .container{
      margin: 0 2%;
    }
  }




}



.product-title a {
  // font-size: 16px;
  // font-weight: bold;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Set the maximum width you prefer */
}